body {
    background-image: url(images/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
    .main {
        position: relative;
        width: 80vw;
        height: 90vh;
        margin-top: 5vh;
        margin-bottom: 5vh;
        margin-right: 10vw;
        margin-left: 10vw;
        background-color: white;
        background-image: url(images/contact_.png);
        background-position: center bottom ;
        background-repeat: no-repeat;
        background-size: contain;
        box-shadow: 0px 5px 10px rgba(0,0,0,0.16);
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        .top {
            margin: 3% 5% 0% 5%;
            display: flex;
            flex-direction: row;
           .left{
                height: 10%;
                img {
                   height: 40px;
                   padding: 10px;
                    }
                 }
           .right {
                margin-left: 50%;
              nav {
                margin-right: 40px;
                padding: 18px 0px 18px 0px;
                float: right;
                .navbar {
                   font-size: 16px;
                   text-decoration: none;
                   font-family: 'Titillium Web', sans-serif; 
                   font-weight: 400;
                   color:#78257D;
                   padding: 4px 15px 4px 15px;
                        }
                .navbar:hover {
                    color: #54479A;
                    background-color: #F7F3F7;
                    border-radius: 6px;
                              } 
                 }
                 }
                 }
        .bottom {
               // margin: 0% 0% 3% 5%;
               // padding: 10px 0 0 10px;
                text-align: center;
                h6 {
                    font-size: 28px;
                    font-family: 'Raleway', sans-serif;
                    color:#78257D;  
                    margin-bottom: 0;
                    font-weight: 700;
                }
             #quote {
                margin: 0 0 20px 0;
                font-size: 24px;
                font-family: 'Raleway', sans-serif;
                color:#78257D;  
                font-weight: 50;
                    }        
             #quote:nth-of-type(1){
                 margin-bottom: 0;
                                  }
             #quote:nth-of-type(2){
                 margin-bottom: 0;
                                  }         
                    }
                       
                     
        @media (max-width: 1125px) { 
            .main .top {
                 flex-direction: column;
            }
            .top .right {
                  margin-top: 60px;
                  transform: translateX(-48%);
                  margin-left: 0;
            }
            .top .right nav {
               float: none;
               margin-right: 0;
                            }
   
            .bottom {
                padding-top: 50px;
                        } 
            .bottom h6 {
                    font-size: 26px;
                        }
            .bottom #quote {
                font-size: 22px;
                               }              
                                   }
                                
                                   }
          }
            
        